<div *ngIf="product" class="single-product-area section-padding-100 clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mt-50">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Furniture</a></li>
                        <li class="breadcrumb-item"><a href="#">Chairs</a></li>
                        <li class="breadcrumb-item active" aria-current="page">white modern chair</li>
                    </ol>
                </nav>
            </div>
        </div>
    
        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="single_product_thumb">
                    <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url('{{product.image}}');">
                            </li>
                            <li class="" data-target="#product_details_slider" data-slide-to="0" style="background-image: url(../../../assets/img/product-img/pro-big-1.jpg);">
                            </li>
                            <li class="" data-target="#product_details_slider" data-slide-to="0" style="background-image: url(../../../assets/img/product-img/pro-big-2.jpg);">
                            </li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a class="gallery_img" href="{{product.image}}">
                                    <img class="d-block w-100" style="width: 60% !important;margin-left: 100px;" src={{product.image}} alt="First slide">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a class="gallery_img" href="../../../assets/img/product-img/pro-big-1.jpg">
                                    <img class="d-block w-100" src="../../../assets/img/product-img/pro-big-1.jpg" alt="Second slide">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="single_product_desc">
                    <!-- Product Meta Data -->
                    <div class="product-meta-data">
                        <div class="line"></div>
                        <p class="product-price">${{product.price}}</p>
                        <a href="">
                            <h6>{{product.title}}</h6>
                        </a>
                        <!-- Ratings & Review -->
                        <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                            <div class="ratings">
                                <p-rating  [ngModel]="product.rating.rate" [readonly]="true" [cancel]="false"></p-rating>
                            </div>
                            <div class="review">
                                <a href="#">Write A Review</a>
                            </div>
                        </div>
                        <!-- Avaiable -->
                        <p *ngIf="product.rating.count >0" class="avaibility"><i class="fa fa-circle"></i> In Stock</p>
                    </div>
                    <div class="short_overview my-5">
                        <p>{{product.description}}</p>
                    </div>
                    <!-- Add to Cart Form -->
                    <form [formGroup]="quantityForm" class="cart clearfix" method="post" >
                        <div class="cart-btn d-flex mb-50">
                            <p>Qty</p>
                                <div class="quantity">
                                    <a class="qty-minus" (click)="qtyMinus()"><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                    <input [formControlName]="controlNames.quantity"  name="quantity" min="1" max="10" type="number" value=1 >
                                    <a class="qty-plus" (click)="qtyPlus()" ><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                                </div>
                        </div>
                        <button type="submit" (click)="addToCart(product)" name="addtocart" value="5" class="btn amado-btn">Add to cart</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
