<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="checkout_details_area mt-50 clearfix">

                    <div class="cart-title">
                        <h2>Checkout</h2>
                    </div>

                    <form  method="post" [formGroup]="checkOutForm" *ngIf="checkOutForm" (submit)="onSubmit()">
                        <div class="row" [formGroup]="checkOutForm" *ngIf="checkOutForm">
                            <div class="col-md-6 mb-3 ip-check-out">
                                <input [innerMsg]="msgForm" [formControlName]="controlNames.firstName"   type="text" class="form-control" placeholder="First Name" >
                                
                            </div>
                            <div class="col-md-6 mb-3 ip-check-out">
                                <input [innerMsg]="msgForm" [formControlName]="controlNames.lastName"  type="text" class="form-control" id="last_name" value="" placeholder="Last Name" >
                            </div>
                            <div class="col-12 mb-3 ip-check-out">
                                <input [innerMsg]="msgForm" [formControlName]="controlNames.companyName" type="text" class="form-control" id="company" placeholder="Company Name" value="">
                            </div>
                            <div class="col-12 mb-3 ip-check-out">
                                <input [innerMsg]="msgForm" [formControlName]="controlNames.email" type="email" class="form-control" id="email" placeholder="Email" value="">
                            </div>
                            <div class="col-12 mb-3 ip-check-out">
                                <p-dropdown  [options]="cities"   [formControlName]="controlNames.country" (onChange)="validateZipcode()"  placeholder="Select a City" optionValue="name"  optionLabel="name" ></p-dropdown>
                            </div>
                            <div class="col-12 mb-3 ip-check-out">
                                <input [innerMsg]="msgForm" [formControlName]="controlNames.address" type="text" class="form-control mb-3" id="street_address" placeholder="Address" value="">
                            </div>
                            <div class="col-12 mb-3 ip-check-out">
                                <input [innerMsg]="msgForm" [formControlName]="controlNames.town" type="text" class="form-control" id="city" placeholder="Town" value="">
                            </div>
                            <div class="col-md-6 mb-3 ip-check-out">
                                <input [innerMsg]="msgForm"  [formControlName]="controlNames.zipcode" type="text" class="form-control" id="zipCode" placeholder="Zip Code" value="">
                            </div>
                            <div class="col-md-6 mb-3 ip-check-out">
                                <input [innerMsg]="msgForm" [formControlName]="controlNames.phoneNo" type="number" class="form-control" id="phone_number" min="0" placeholder="Phone No" value="">
                            </div>
                            <div class="col-12 mb-3 ip-check-out-cmt">
                                <textarea [innerMsg]="msgForm" [formControlName]="controlNames.comment" name="comment" class="form-control w-100" id="comment" cols="30" rows="10" placeholder="Leave a comment about your order"></textarea>
                            </div>

                            <div class="col-12">
                                <div class="custom-control custom-checkbox d-block mb-2">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2">Create an accout</label>
                                </div>
                                <div class="custom-control custom-checkbox d-block">
                                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                                    <label class="custom-control-label" for="customCheck3">Ship to a different address</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="cart-summary">
                    <h5>Cart Total</h5>
                    <ul class="summary-table">
                        <li><span>subtotal:</span> <span>${{sumPrice}}</span></li>
                        <li><span>delivery:</span> <span>Free</span></li>
                        <li><span>total:</span> <span>${{sumPrice + fee}}</span></li>
                    </ul>

                    <div class="payment-method">
                        <!-- Cash on delivery -->
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" class="custom-control-input" id="cod" checked>
                            <label class="custom-control-label" for="cod">Cash on Delivery</label>
                        </div>
                        <!-- Paypal -->
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" class="custom-control-input" id="paypal">
                            <label class="custom-control-label" for="paypal">Paypal <img class="ml-15" src="../../../assets/img/core-img/paypal.png" alt=""></label>
                        </div>
                    </div>
                    <div class="cart-btn mt-100">
                        <button  type="submit" (click)="onSubmit()" class="btn amado-btn w-100">Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>