:host ::ng-deep .p-dropdown{
    width:100%;
    background:#f5f7fa;
    border:none;
    color:#6b6b6b;
    padding:8px 16px;
    height:60px;
}

.drop-city {
    width: 100%;
}
.ip-check-out  {
    height: 80px;
}
.ip-check-out-cmt {
    height: 220px;
}